async-timeout==4.0.2
bleak==0.20.2
contourpy==1.1.0
cycler==0.11.0
fonttools==4.40.0
freetype-py==2.4.0
imageio==2.31.1
kiwisolver==1.4.4
matplotlib==3.7.2
nest-asyncio==1.5.6
networkx==3.1
numpy==1.25.1
numpy-quaternion==2022.4.3
packaging==23.1
Pillow==10.0.0
pyglet==2.0.8
pyobjc-core==9.2
pyobjc-framework-Cocoa==9.2
pyobjc-framework-CoreBluetooth==9.2
pyobjc-framework-libdispatch==9.2
PyOpenGL==3.1.0
pyparsing==3.0.9
pyrender==0.1.45
python-dateutil==2.8.2
scipy==1.11.1
six==1.16.0
StrEnum==0.4.15
trimesh==3.22.3
